# ROS2
build/
install/
log/

# VSCode
.vscode/

# Python
__pycache__/
*.pyc

# C++
*.o
*.so

# Colcon
.colcon/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# RTAB MAP
src/rtabmap/
src/rtabmap_ros/

# frontier_exploration
src/frontier_exploration_ros2/

command.md